# 环境变量
.env
.env.local
.env.*.local

# 日志
logs
*.log

# 依赖
node_modules/

# 编辑器配置
.vscode/
.idea/

uploads/

miniprogram/node_modules
vue-admin/
README.md 
miniprogram/README.md
vue-admin/README.md
money.md